<style type="text/css">
	@font-face{
        font-family:myFont;
        src:url('https://git.wxfljc.cn/Earl/static/raw/branch/master/font/yuan.woff');
    }
</style>
<!-- 高亮 -->
<link rel="stylesheet"
      href="https://git.wxfljc.cn/Earl/static/raw/branch/master/js/highlight.min.js">
<script src="https://git.wxfljc.cn/Earl/static/raw/branch/master/css/androidstudio.min.css"></script>
<!-- <script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.3.1/build/highlight.min.js"></script>
https://gitee.com/earl9/img/raw/master/highlight.min.js 
https://gitee.com/earl9/img/raw/master/androidstudio.min.css
-->
<script>hljs.highlightAll();</script>
<!-- 统计 -->
<!-- Matomo -->
<!-- <script>
    var _paq = window._paq = window._paq || [];
    /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
      var u="//matomo.wilds.top/";
      _paq.push(['setTrackerUrl', u+'matomo.php']);
      _paq.push(['setSiteId', '1']);
      var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
      g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
    })();
  </script> -->
  <!-- End Matomo Code -->
<!-- 自定义字体 -->
<style>
    body {
      font-family: myFont,DFPHannotateW5-GB,SimHei,-apple-system, BlinkMacSystemFont,YouYuan,NSimSun,Yuanti SC,KaiTi,"Open Sans",PingFang SC,sans-serif;
      /* font-weight: 500; */
      font-size: 19px;
    }
    code {
      font-family: myFont,DFPHannotateW5-GB,SimHei,DFPHannotateW5-GB,-apple-system, BlinkMacSystemFont,YouYuan,NSimSun,KaiTi,Yuanti SC,Yuanti SC,"Open Sans",sans-serif;
    }
  </style>

<!-- <script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
https://gitee.com/earl9/img/raw/master/font-awesome.min.css
-->
<link rel="stylesheet" href="https://git.wxfljc.cn/Earl/static/raw/branch/master/css/font-awesome.min.css"> 
<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome/css/font-awesome.min.css"> https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css -->